body {
    color: blue;
    text-align: center;
    font-family: "Arial";
    padding: 30px;
    border: 1px solid #4CAF50;
    
}

#cabecera {
    background:  #33A;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #tagline {
    padding: auto;
    font-weight: normal;
    font-size: 0.8em;
}

p {
    text-align: left;
}

